@{
    ViewData["Title"] = "Tipode Ejercicio";
}

<link rel="stylesheet" href="~/css/Ejercicios.css" asp-append-version="true" />


<div class=" display-6 text-center">
    <h1 class="display-4 text-center fw-bold">Tipo de ejercicio</h1>

    <br>
    
    <div>
       <button type="button" onclick="nuevoRegistro()" data-bs-toggle="modal" data-bs-target="#modalTipodeEjercicios" class="btn btn-primary">Nuevo Ejercicio</button>
    </div>

    



 <!-- Button trigger modal -->

<div>
       <button type="button" class="btn btn-dark" onclick="ListadoTipoDeEjercicios()">Refrescar Tabla</button>     
    </div>
<br>


<div class="modal" id="modalTipodeEjercicios" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTituloEjercicio" ></h5>
        <button type="button" id="modalTituloEjercicio" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form action="" id="formEjercicio">
            <div class="mb-3 d-flex flex-column align-items-start">
              <input type="hiden" id="id">
                <label for="ejercicio" class="form-label">Tipo de Ejercicio</label>
                <input type="text" class="form-control" id="nombre" placeholder="Tipo de Ejercicio">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="limpiarModa()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" onclick="guardarRegistro()" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>



<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
             <th>Descripción</th>      
              <th style="width: 70px"></th>
             <th style="width: 70px"></th> 
        </tr>
    </thead>
    <tbody id="tbody-tipoejercicios">
    </tbody>
</table>  
</div>



@section Scripts{
  <script src="~/js/tipodeEjercicio.js"></script>
}

