@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/Ejercicios.css" asp-append-version="true" />

<Body class="row fondobienvenidos" >
    <div class=" fondoBienvenido col-md-6 position-absolute top-50 start-50 translate-middle">
        <div class="">
            <h1 class="display-1">Bienvenidos</h1>
            <p class="fs-3">¡Ejercítate hoy y cosecharás salud y vitalidad mañana!" ¿Qué te parece?</p>  
        </div>
    </div> 
</Body>


