@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/Ejercicios.css" asp-append-version="true" />

<Body class="row fondobienvenidos" >
    <div class="text-center">
        <div class="">
            <h1 class="display-1">Bienvenidos</h1>
            <p class="fs-3">¡Ejercítate hoy y cosecharás salud y vitalidad mañana!" ¿Qué te parece?</p>  
        </div>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <img src="../lib/img/Ejercicio6.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../lib/img/Fondo4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../lib/img/Ejercicio4.jpg" class="card-img-top" alt="...">
            </div>
        </div>
</Body>


