body{
    background-image: url("../lib/img/Fondo.jpg");
    background-size: cover;
}

td{
    color: azure;
    font-size: x-large;
    font-family: arial;
}

th{
    color:rgb(225, 229, 233);
    font-size: xx-large;
    font-family: arial;
}
 h1{
    color: rgb(225, 229, 233);
} 

