body{
    background-color: rgb(194, 219, 241);
     
    background-size: cover; 
}

td{
    color: azure;
    font-size: large;
    font-family: arial;
}

th{
    color:rgb(225, 232, 233);
    font-size: x-large;
    font-family: arial;
}
 

.fondoBienvenido{
    margin-top: 2rem;
    letter-spacing: 2px;
    color: rgb(3, 6, 9);
    background-color: rgba(6, 131, 126, 0.676);
    text-align: center;
}

p{
    letter-spacing: 2px;
}

.hola{
  background-color:   rgba(6, 131, 127, 0.25);
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
